
<footer class="footer pt-3">

  <div class="container">
    <ul class="list-unstyled list-inline text-center text-muted">
      <li class="list-inline-item">
        <a class="btn-floating mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating  mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-copyright text-center text-muted">
      © 2020 Copyright fnkaya
  </div>

</footer>

